menu "RuuviTag Gateway Configuration"

    config RUUVI_GW_WIFI_SSID
      string "WiFi SSID"

    config RUUVI_GW_WIFI_PSK
      string "WiFi Password"

    config RUUVI_GW_MQTT_CLIENTCERT
      bool "MQTT TLS Client Certificates"
    
    config RUUVI_GW_MQTT_ENDPOINT
      string "MQTT Endpoint"
      help
          MQTT Endpoint, format: mqtts://endpoint:8883
     
    config RUUVI_GW_MQTT_CLIENT_ID
      string "MQTT Client ID"
      default "ruuvi-gw-esp32"
    
    config RUUVI_GW_MQTT_TOPIC
      string "MQTT Topic"

    config RUUVI_GW_MQTT_QOS
      int "MQTT QoS"
      default 0

    config RUUVI_GW_MQTT_RETAIN
      int "MQTT retain flag"
      default 0
    
    config RUUVI_GW_MQTT_TIMEOUT
      int "MQTT Timeout"
      default 30
      help
          MQTT timeout in seconds

    config RUUVI_GW_IGNORE_UNKNOWNTAGS
      bool "Ignore unknown RuuviTags"
      default n
      help
          Ignore unknown RuuviTags not in ethers
    
    config RUUVI_GW_POLLING_INTERVAL
      int "Polling Interval"
      default 2
      help
          Measurement polling interval in minutes
    
    config RUUVI_GW_BLUETOOTH_SCAN_DURATION
      int "Bluetooth Scan Duration"
      default 10
      help
          Bluetooth scan duration in seconds

endmenu
